[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = WuSVN, the customized Subversion with my patches
[access "refs/*"]
	owner = group user/wuzhouhui (wuzhouhui)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/wuzhouhui (wuzhouhui)
	label-Verified = -1..+1 group user/wuzhouhui (wuzhouhui)
	push = group user/wuzhouhui (wuzhouhui)
	read = group user/wuzhouhui (wuzhouhui)
	rebase = group user/wuzhouhui (wuzhouhui)
	removeReviewer = group user/wuzhouhui (wuzhouhui)
	submit = group user/wuzhouhui (wuzhouhui)
[access "refs/heads/*"]
	create = group user/wuzhouhui (wuzhouhui)
	push = +force group user/wuzhouhui (wuzhouhui)
	pushMerge = group user/wuzhouhui (wuzhouhui)
	read = group user/wuzhouhui (wuzhouhui)
[access "refs/tags/*"]
	push = group user/wuzhouhui (wuzhouhui)
	push = +force group user/wuzhouhui (wuzhouhui)
